</div>
<div id="footer" class="bottom-container">
  <a target="_blank" class="footer-link" href="https://www.linkedin.com/in/mihirsachdeva/">LinkedIn</a>
  <a target="_blank" class="footer-link" href="https://www.facebook.com/sachdeva.mihir">Facebook</a>
  <a target="_blank" class="footer-link" href="https://github.com/MihirSachdeva">GitHub</a>
  <a target="_blank" class="footer-link" href="https://www.instagram.com/mihirsachdeva_/">Instagram</a>
  <a target="_blank" class="footer-link" href="mailto:mihir_s@pp.iitr.ac.in">Mail</a>
  <a target="_blank" class="footer-link" href="https://mihirsachdeva.github.io/PersonalPage/MySite/">About Me</a><br><br>
  <p style="color: white; font-size: 1.3rem;" class="copyright">Made with ❤️ by <a target="_blank" style="color: white;" href="https://mihirsachdeva.github.io/PersonalPage/MySite/">Mihir Sachdeva</a></p>
</div>

</body>
</html>
