<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>JournoJunction</title>
  <meta charset="utf-8">
  <meta name="theme-color" content="#f8f8f8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif|Montserrat&display=swap" rel="stylesheet">
</head>

  <body>

    <nav  class="navbar navbar-default sticky-top">
      <div style="font-family: 'Montserrat'; font-size: 2rem !important;" class="container">
        <div class="navbar-header">
          <p style="font-family: 'Inria Serif', serif; font-size: 4rem !important;" class="navbar-brand">JournoJunction</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/">Home</a></li>
            <li id="contact"><a href="#footer">Contact</a></li>
            <li id="compose"><a href="/compose">Compose</a></li>
          </ul>
      </div>
    </nav>

    <div class="container">
